node_modules/*
bin/*.dll
obj/*
*.sln
*.log
config/Development.json
config/studention.json
config/default.json
*.sql;
routes/SQL.sql
package.json
package-lock.json
readme.md
api-client/font/css/open-iconic-bootstrap.css
api-client/font/css/open-iconic-bootstrap.less
api-client/font/css/open-iconic-bootstrap.min.css
api-client/font/css/open-iconic-bootstrap.scss
api-client/font/css/open-iconic-bootstrap.styl
api-client/font/css/open-iconic-foundation.css
api-client/font/css/open-iconic-foundation.less
api-client/font/css/open-iconic-foundation.min.css
api-client/font/css/open-iconic-foundation.scss
api-client/font/css/open-iconic-foundation.styl
api-client/font/css/open-iconic.css
api-client/font/css/open-iconic.less
api-client/font/css/open-iconic.min.css
api-client/font/css/open-iconic.scss
api-client/font/css/open-iconic.styl
api-client/font/fonts/open-iconic.eot
api-client/font/fonts/open-iconic.otf
api-client/font/fonts/open-iconic.svg
api-client/font/fonts/open-iconic.ttf
api-client/font/fonts/open-iconic.woff
api-client/css/style.css
routes/sc.json
routes/sql2sql.txt
